<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
    <h1>Bienvenidos</h1>

    <a th:href="${'/login'}">Cerrar Sesion</a>
    <a th:href="${'/choices'}">Opciones</a>
    <a th:href="${'admin/restaurants'}">Restaurants</a>
    <a th:href="${'/users'}">Users</a>

    <table>
        <tr>


        </tr>
    </table>
</body>
</html>