<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Restaurants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div th:if="${not #lists.isEmpty(restaurants)}">
        <h2>Restaurant List</h2>

        <form th:action="@{/admin/restaurant/new}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">New Restaurant</button>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Description</th>
                <th>Phone</th>
                <th>Cell</th>
                <th>Calificacion</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.id}"><a href="/admin/restaurant/${restaurant.id}">Id</a></td>
                <td th:text="${restaurant.name}">Name</td>
                <td th:text="${restaurant.address}">Address</td>
                <td th:text="${restaurant.email}">Email</td>
                <td th:text="${restaurant.description}">Description</td>
                <td th:text="${restaurant.phone}">Phone</td>
                <td th:text="${restaurant.cell}">Cell</td>
                <td th:text="${restaurant.calificacion}">Calificacion</td>
                <td><a th:href="${'/admin/restaurant/' + restaurant.id}">View</a></td>
                <td><a th:href="${'/admin/restaurant/edit/' + restaurant.id}">Edit</a></td>
                <td><a th:href="${'/admin/restaurant/delete/' + restaurant.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>