<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Restaurants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>Users List</h2>



        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>

            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"><a href="/user/${user.id}">Id</a></td>
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.email}">Email</td>

            </tr>
        </table>

    </div>
</div>
</body>
</html>