<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Pagina Principal</title>
    <h2>Haz tu Pedido !!!</h2>


</head>


<body background="http://yavoyencomiendas.com/pedidos/img/art/yavoy_combo1.jpg">
<a th:href="${'/login'}">Iniciar Sesion</a>
<a th:href="${'/registration'}">Registrarse</a>

</body>


</html>


